<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC   "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>  
    <!-- 实体类别名配置 -->  
    <typeAliases>
       <typeAlias type="pers.liujunyi.tally.entity.TCoreUser" alias="CoreUser"/>
       <typeAlias type="pers.liujunyi.tally.entity.TCoreAttachment" alias="CoreAttachment"/>
    </typeAliases>
    
    <!-- mapper 文件路径配置 -->  
    <mappers>  
        <mapper resource="sqlMapperXml/UserMapper.xml" />  
        <mapper resource="sqlMapperXml/AttachmentMapper.xml" />  
    </mappers>  
</configuration>  
