<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.liujunyi.tally.mapper.TCoreLogsDetailsMapper" >
  <resultMap id="BaseResultMap" type="pers.liujunyi.tally.entity.TCoreLogsDetails" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="logs_id" property="logsId" jdbcType="VARCHAR" />
    <result column="modification_feild" property="modificationFeild" jdbcType="VARCHAR" />
    <result column="feild_describe" property="feildDescribe" jdbcType="VARCHAR" />
    <result column="attribute_one" property="attributeOne" jdbcType="VARCHAR" />
    <result column="attribute_two" property="attributeTwo" jdbcType="VARCHAR" />
    <result column="attribute_three" property="attributeThree" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="pers.liujunyi.tally.entity.TCoreLogsDetailsWithBLOBs" extends="BaseResultMap" >
    <result column="old_content" property="oldContent" jdbcType="LONGVARCHAR" />
    <result column="new_content" property="newContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, logs_id, modification_feild, feild_describe, attribute_one, attribute_two, attribute_three
  </sql>
  <sql id="Blob_Column_List" >
    old_content, new_content
  </sql>
 
  <!-- 新增数据 -->
  <insert id="addLogsDetails" parameterType="pers.liujunyi.tally.entity.TCoreLogsDetailsWithBLOBs" >
     <!-- 生成主键的uuid -->
    <selectKey keyProperty="id" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','')  from dual  
    </selectKey> 
    
    insert into t_core_logs_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="logsId != null" >
        logs_id,
      </if>
      <if test="modificationFeild != null" >
        modification_feild,
      </if>
      <if test="feildDescribe != null" >
        feild_describe,
      </if>
      <if test="attributeOne != null" >
        attribute_one,
      </if>
      <if test="attributeTwo != null" >
        attribute_two,
      </if>
      <if test="attributeThree != null" >
        attribute_three,
      </if>
      <if test="oldContent != null" >
        old_content,
      </if>
      <if test="newContent != null" >
        new_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="logsId != null" >
        #{logsId,jdbcType=VARCHAR},
      </if>
      <if test="modificationFeild != null" >
        #{modificationFeild,jdbcType=VARCHAR},
      </if>
      <if test="feildDescribe != null" >
        #{feildDescribe,jdbcType=VARCHAR},
      </if>
      <if test="attributeOne != null" >
        #{attributeOne,jdbcType=VARCHAR},
      </if>
      <if test="attributeTwo != null" >
        #{attributeTwo,jdbcType=VARCHAR},
      </if>
      <if test="attributeThree != null" >
        #{attributeThree,jdbcType=VARCHAR},
      </if>
      <if test="oldContent != null" >
        #{oldContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="newContent != null" >
        #{newContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 更新数据 -->
  <update id="updateLogsDetails" parameterType="pers.liujunyi.tally.entity.TCoreLogsDetailsWithBLOBs" >
    update t_core_logs_details
    <set >
      <if test="logsId != null" >
        logs_id = #{logsId,jdbcType=VARCHAR},
      </if>
      <if test="modificationFeild != null" >
        modification_feild = #{modificationFeild,jdbcType=VARCHAR},
      </if>
      <if test="feildDescribe != null" >
        feild_describe = #{feildDescribe,jdbcType=VARCHAR},
      </if>
      <if test="attributeOne != null" >
        attribute_one = #{attributeOne,jdbcType=VARCHAR},
      </if>
      <if test="attributeTwo != null" >
        attribute_two = #{attributeTwo,jdbcType=VARCHAR},
      </if>
      <if test="attributeThree != null" >
        attribute_three = #{attributeThree,jdbcType=VARCHAR},
      </if>
      <if test="oldContent != null" >
        old_content = #{oldContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="newContent != null" >
        new_content = #{newContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 删除数据 -->
  <delete id="deleteLogsDetails">
     delete from t_core_logs_details where id in
     <foreach collection="array" item="item" open="(" separator="," close=")">
       #{item,jdbcType=VARCHAR}
     </foreach>
  </delete>
  
</mapper>